@{
    ViewData["Title"] = "Home Page";
}

<h3>You have successfully registered, please return to the homepage to login with your new account! Click <a href="/">here</a>to return to the home page.</h3>